<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= ListTitle %>
        </h1>
    </div>

    <div class="box">
        <% newListItems.forEach(function(newListItem){ %>

            <form action="/delete"  method = "post">

                <div class="item">
                    <input type="checkbox" value="<%= newListItem._id %>" name="checkBox" onChange="this.form.submit()"/>
                    <p>
                        <%= newListItem.name %>
                    </p>
                </div>

            </form>
            <% }); %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off" />
                    <button type="submit" name="list" value="<%= ListTitle %>">+</button>
                </form>
    </div>
    <%- include("footer") -%>